name: go-tests

on:
  push:
    branches: [ main ]
    paths:
      - 'ares-proxy/**'
  pull_request:
    paths:
      - 'ares-proxy/**'

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./ares-proxy
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
        with:
          go-version: '1.23.5'

      - name: Download dependencies
        run: go mod download

      - name: Run tests
        run: make test

      - name: Build
        run: make build
